body{
	font-size:1rem;
}

h1 {
	font-size:8vw;
}

#bleu {
	background-color:blue;
}

#blanc {
	background-color:white;
}

#rouge {
	background-color:red;
}


img{
	max-width:100%;
	height:auto;
}



form {
  /* Pour le centrer dans la page */
  margin: 0 auto;
  width: 100%;

  /* Pour voir les limites du formulaire */
  border: 1px solid #CCC;
  border-radius: 1em;
  padding:6px;
}

div + div {
  margin-top: 1em;
}

label {
  /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
  display: block;
}

input, textarea {
  /* Afin de s'assurer que tous les champs textuels utilisent la même police
     Par défaut, textarea utilise une police à espacement constant */
  font: 1em sans-serif;

  /* Pour donner la même dimension à tous les champs textuels */
  width: 270px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* Pour harmoniser l'apparence des bordures des champs textuels */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Afin de réhausser les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner correctement les champs multilignes et leurs étiquettes */
  vertical-align: top;

  /* Pour donner assez d'espace pour entrer du texte */
  height: 5em;

  /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
     Cela ne marche pas avec tous les navigateurs  */
  resize: vertical;
}

.button {
  /* Pour positionner les boutons de la même manière que les champs textuels */
  padding-left: 90px; /* même dimension que les étiquettes */
}

button {
  /* Cette marge représente approximativement le même espace
     que celui entre les étiquettes et les champs textuels */
  margin-left: .5em;
}

@media screen and (min-width: 200px) and (max-width: 640px) {
 
	#bleu {
		background-color:green;
	}
	#rouge {
		background-color:orange;
	}
}


 img {
    display: block;
    margin: auto;
    width: 50%;
}

/******************TABLEAU*************************/

@media screen and (min-width: 200px) and (max-width: 640px) {
	table, th, td, tbody, tr {
	    width:100%;
            display:block;
}

}


table {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px 0px;
    text-align: left;
    text-align:center;
}


th{
	background-color:grey;
}

